<div class="col-md-4">
  <div class="bs-callout bs-callout-info">
    <h4>Geography</h4>
    The site contains relevant educational materials for school students. All materials are divided into two categories: a compendium and tutorial. Materials in category synopsis shorter and supplemented by images and maps. Category textbook contains the full curriculum.
  </div>
</div>
<div class="col-md-4">
  <div class="bs-callout bs-callout-info">
    <h4>World History</h4>
    Explore world history synopsis, if your time is limited. The presence of accompanying maps and images help in learning materials and better consolidate described picture of events in memory of the student.
  </div>
</div>
<div class="col-md-4">
  <div class="bs-callout bs-callout-info">
    <h4>History of Ukraine</h4>
    In the category synopsis of all the materials supplemented by maps and images, which makes learning the material more visible and promotes whole picture set of events. The textbook, as usual, well organized sodezhit curriculum materials.
  </div>
</div>
