<div class="col-md-4">
  <div class="bs-callout bs-callout-info">
    <h4>География</h4>
    На сайте представлены актуальные учебные материалы для учащихся школ. Все материалы разбиты на две категории: конспект и учебник. Материалы в категории конспект более краткие и дополнены изображениями и картами. Категория учебник содержит полную версию школьной программы.
  </div>
</div>
<div class="col-md-4">
  <div class="bs-callout bs-callout-info">
    <h4>Всемирная история</h4>
    Изучайте историю в разделе конспект, если Ваше время ограничено. Наличие сопутствующих карт и изображений поможет в усваивании материалов и лучше закрепит описанную картину событий в памяти учащегося.
  </div>
</div>
<div class="col-md-4">
  <div class="bs-callout bs-callout-info">
    <h4>История Украины</h4>
    В категории конспект все материалы дополнены картами и изображениями, что делает изучение материала более наглядным и способствует формированию целостной картины изложенных событий. Учебник, как обычно, содежит всецело упорядоченные материалы школьной программы.
  </div>
</div>
