<div class="col-md-4">
  <div class="bs-callout bs-callout-info">
    <h4>Географія</h4>
    На сайті представлені актуальні навчальні матеріали для учнів шкіл. Всі матеріали розбиті на дві категорії: конспект і підручник. Матеріали в категорії конспект більш короткі і доповнені зображеннями і картами. Категорія підручник містить повну версію шкільної програми.
  </div>
</div>
<div class="col-md-4">
  <div class="bs-callout bs-callout-info">
    <h4>Всесвітня історія</h4>
    Вивчайте історію в розділі конспект, якщо Ваш час обмежений. Наявність супутніх карт і зображень допоможе в засвоєнні матеріалів і краще закріпить описану картину подій в пам'яті учня.
  </div>
</div>
<div class="col-md-4">
  <div class="bs-callout bs-callout-info">
    <h4>Історія України</h4>
    У категорії конспект всі матеріали доповнені картами і зображеннями, що робить вивчення матеріалу більш наочним і сприяє формуванню цілісної картини викладених подій. Підручник, як зазвичай, содежіт цілком впорядковані матеріали шкільної програми.
  </div>
</div>
