<div class="col-md-4">
  <div class="bs-callout bs-callout-info">
    <h4>Геаграфія</h4>
    На сайце прадстаўлены актуальныя навучальныя матэрыялы для навучэнцаў школ. Усе матэрыялы разбітыя на дзве катэгорыі: канспект і падручнік. Матэрыялы ў катэгорыі канспект больш кароткія і дапоўнены малюнкамі і картамі. Катэгорыя падручнік змяшчае поўную версію школьнай праграмы.
  </div>
</div>
<div class="col-md-4">
  <div class="bs-callout bs-callout-info">
    <h4>Сусветная гісторыя</h4>
    Вывучайце сусветную гісторыю ў раздзеле канспект, калі Ваш час абмежаваны. Наяўнасць спадарожных карт і малюнкаў дапаможа ў засваенні матэрыялаў і лепш замацуе апісаную карціну падзей у памяці вучня.
  </div>
</div>
<div class="col-md-4">
  <div class="bs-callout bs-callout-info">
    <h4>Гісторыя Украіны</h4>
    У катэгорыі канспект ўсе матэрыялы дапоўнены картамі і малюнкамі, што робіць вывучэнне матэрыялу больш наглядным і спрыяе фармаванню цэласнай карціны выкладзеных падзей. Падручнік, як звычайна, содежит цалкам спарадкаваныя матэрыялы школьнай праграмы.
  </div>
</div>
