<h1 class="h3">Educational site geography, world history and the history of Ukraine.</h1>

<h4>Preparing for exams.</h4>

<p>On this site are educational materials on geography, world history and the history of Ukraine for school students. Materials not the basis for the study of relevant disciplines, but is rather a good addition to the main program of secondary schools that are not inferior to the main program of the depth and scope of material that is taught.</p>

<p>The nature of the material on world history and the history of Ukraine chronologically consistent and closely linked to the geographical study that provides information concise and comprehensive nature of the study. While studying, you not only get the opportunity to realize a picture of the events described, but also to establish the relationship between what is happening and to put forward their hypothesis and refutation.</p>

<p>The original language of most materials - Ukrainian, some - Russian. All materials resulting from translations, set in four languages: Russian, Ukrainian, Belarusian and English. Translated into the language was made automatically and is not perfect. Translated into English, in general, is poor. Unfortunately, to date, the team qualified interpreter resources.</p>

<p>Currently on the site are all in the content of these courses, video files and also quizzes available in all four languages.</p>

<p>Currently, there are at breaking material to "outline" and "textbook".</p>

<p>"Compendium" contains the main content of the site, all its pages are equally stylized, almost all the books are maps and supporting images (photographs and drawings). Images are for better learning by increasing student interest - they help provide the described topic revive images of historical figures, mentally move us in space and time.</p>

<p>"Textbook" - part of the site, which contained basic textbooks on geography, world history and the history of Ukraine. Most of these materials are not checked by the moderator.</p>

<p>Materials compendium of world history 6th and 11th grades absent.</p>

<p>Thank you!</p>
