<h1 class="h3">Учебный сайт по географии, всемирной истории и истории Украины. </h1>

<h4>Готовимся к экзаменам. </h4>

<p>На этом сайте находятся учебные материалы по географии, всемирной истории и истории Украины для учащихся школ. Материалы не являются основой для изучения соответствующих дисциплин, однако является достаточно хорошим дополнением к основной программе общеобразовательных школ, не уступающим основной программе по глубине и объему излагаемого.</p>

<p>Характер изложения материала по всемирной истории и истории Украины хронологически последовательный и тесно связан с географическим изучением, что придает информации лаконичность и всесторонний характер изучения. Учась, Вы получаете не только возможность осознавать картины описанных событий, но и устанавливать взаимосвязь между тем, что происходит и выдвигать собственные гипотезы и опровержения.</p>

<p>Оригинальный язык большинства материалов - украинский, некоторых - русский. Все материалы, в результате переводов, изложены на четырех языках: русском, украинском, белорусском и английском. Перевод на языки был выполнен автоматически, и не является совершенным. Перевод на английский язык, вообще, оставляет желать лучшего. К сожалению, на сегодняшний день, в команде ресурса нет квалифицированного переводчика.</p>

<p>На данный момент на сайте находятся все, из перечисленных в содержании курсов, видео файлы и также викторины доступны на всех четырех языках.</p>

<p>В настоящее время на сайте существует разбиение материалов на "конспект" и "учебник".</p>

<p>"Конспект" содержит основное содержимое сайта, все его страницы одинаково стилизованные, практически со всеми его текстами приведены географические карты и вспомогательные изображения (фотографии и рисунки). Изображения предназначены для лучшего усвоения материала путем повышения интереса ученика, - они помогают представить описываемую тему, оживить образы исторических фигур, мысленно перенести нас в пространстве и времени.</p>

<p>"Учебник" - часть сайта, содержащего материалы основных учебников по географии, всемирной истории и истории Украины. Большинство этих материалов еще не проверено модератором.</p>

<p>Материалы конспекта по всемирной истории 6-го и 11-го классов отсутствуют.</p>

<p>Спасибо!</p>
