<h3>Навучальны сайт па геаграфіі, сусветнай гісторыі і гісторыі Украіны.</h3>

<h4>Рыхтуемся да экзаменаў.</h4>

<p>На гэтым сайце знаходзяцца навучальныя матэрыялы па геаграфіі, сусветнай гісторыі і гісторыі Украіны для навучэнцаў школ. Матэрыялы не з'яўляюцца асновай для вывучэння адпаведных дысцыплін, аднак з'яўляецца дастаткова добрым дадаткам да асноўнай праграме агульнаадукацыйных школ, якія не саступаюць асноўнай праграме па глыбіні і аб'ёму расказу.</p>

<p>Характар ​​выкладу матэрыялу па сусветнай гісторыі і гісторыі Украіны храналагічна паслядоўны і цесна звязаны з геаграфічным вывучэннем, што надае інфармацыі лаканічнасць і ўсебаковы характар ​​вывучэння. Вучачыся, Вы атрымліваеце не толькі магчымасць ўсведамляць карціны апісаных падзей, але і ўсталёўваць ўзаемасувязь паміж тым, што адбываецца і вылучаць ўласныя гіпотэзы і абвяржэння.</p>

<p>Арыгінальны мова большасці матэрыялаў - украінскі, некаторых - рускі. Усе матэрыялы, у выніку перакладаў, выкладзены на чатырох мовах: рускай, украінскай, беларускай і англійскай. Пераклад на мовы быў выкананы аўтаматычна, і не з'яўляецца дасканалым. Пераклад на англійскую мову, наогул, пакідае жадаць лепшага. На жаль, на сённяшні дзень, у камандзе рэсурсу няма кваліфікаванага перакладчыка.</p>

<p>На дадзены момант на сайце знаходзяцца ўсе, з пералічаных у змесце курсаў, відэа файлы і таксама віктарыны даступныя на ўсіх чатырох мовах.</p>

<p>У цяперашні час на сайце існуе разбіццё матэрыялаў на "канспект" і "падручнік".</p>

<p>"Канспект" змяшчае асноўнае змесціва сайта, усе яго старонкі аднолькава стылізаваныя, практычна з усімі яго тэкстамі прыведзены геаграфічныя карты і дапаможныя выявы (фатаграфіі і малюнкі). Выявы прызначаныя для лепшага засваення матэрыялу шляхам павышэння цікавасці вучня, - яны дапамагаюць прадставіць які апісвае тэму, ажывіць вобразы гістарычных фігур, у думках перанесці нас у прасторы і часу.</p>

<p>"Падручнік" - частка сайта, які змяшчае матэрыялы асноўных падручнікаў па геаграфіі, сусветнай гісторыі і гісторыі Украіны. Большасць гэтых матэрыялаў яшчэ не правераны мадэратарам.</p>

<p>Матэрыялы канспекта па сусветнай гісторыі 6-га і 11-га класаў адсутнічаюць.</p>

<p>Дзякуй!</p>
