<h3>Навчальний сайт з географії, всесвітньої історії та історії України.</h3>

<h4>Готуємося до іспитів.</h4>

<p>На цьому сайті знаходяться навчальні матеріали з географії, всесвітньої історії та історії України для учнів шкіл. Матеріали не є основою для вивчення відповідних дисциплін, однак є досить хорошим доповненням до основної програми загальноосвітніх шкіл, що не поступається основній програмі по глибині і обсягом матеріалу, що викладається.</p>

<p>Характер викладу матеріалу з всесвітньої історії та історії України хронологічно послідовний і тісно пов'язаний з географічним вивченням, що надає інформації лаконічність і всебічний характер вивчення. Навчаючись, Ви отримуєте не тільки можливість усвідомлювати картини описаних подій, але і встановлювати взаємозв'язок між тим, що відбувається і висувати власні гіпотези і спростування.</p>

<p>Оригінальна мова більшості матеріалів - український, деяких - російський. Всі матеріали, в результаті перекладів, викладені на чотирьох мовах: російській, українській, білоруській та англійською. Переклад на мови був виконаний автоматично, і не є досконалим. Переклад на англійську мову, взагалі, залишає бажати кращого. На жаль, на сьогоднішній день, в команді ресурсу немає кваліфікованого перекладача.</p>

<p>На даний момент на сайті знаходяться всі, з перерахованих в змісті курсів, відео файли і також вікторини доступні на всіх чотирьох мовах.</p>

<p>В даний час на сайті існує розбиття матеріалів на "конспект" і "підручник".</p>

<p>"Конспект" містить основний вміст сайту, всі його сторінки однаково стилізовані, практично з усіма його текстами наведені географічні карти і допоміжні зображення (фотографії і малюнки). Зображення призначені для кращого засвоєння матеріалу шляхом підвищення інтересу учня, - вони допомагають уявити описувану тему, оживити образи історичних постатей, подумки перенести нас в просторі і часі.</p>

<p>"Підручник" - частина сайту, що містить матеріали основних підручників з географії, всесвітньої історії та історії України. Більшість цих матеріалів ще не перевірено модератором.</p>

<p>Матеріали конспекту з всесвітньої історії 6-го і 11-го класів відсутні.</p>

<p>Дякуємо!</p>
